DD_PPJ_NALOGA02/Database_Interface/.idea/
DD_PPJ_NALOGA02/Database_Interface/.run/
DD_PPJ_NALOGA02/Database_Interface/.gradle/
DD_PPJ_NALOGA02/Database_Interface/build/
DD_PPJ_Naloga01/.idea/
DD_PPJ_Naloga01/.run/
DD_PPJ_Naloga01/.gradle/
DD_PPJ_Naloga01/build/
DD_PPJ_Scraping/
.idea/